<div class="container home">

	<div class="marquee">
    <marquee>{{ 'MARQUEE.CONTENT' | translate }}</marquee>
  </div>
	
	<div class="card-deck mb-3 text-center">
		
		<div class="card mb-4 box-shadow">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">{{ 'FOOD.CHICKEN_WING.NAME' | translate }}</h4>
			</div>
			<div class="card-body">
				<h1 class="card-title pricing-card-title">
					{{ 'SYSTEM.CURRENCY' | translate }}{{ 'FOOD.CHICKEN_WING.PRICE' | translate }} 
					<small class="text-muted">/ {{ 'FOOD.CHICKEN_WING.UNIT' | translate }}</small>
				</h1>
				<div class="product-img mb-4">
					<img src="assets/img/food/chicken_wing_100.png">
				</div>
				<div class="calc">
					<div class="quantity mt-5">
              <!-- <span class="minus bg-dark">-</span> -->
              <img class="minus" src="assets/img/com/minus_25.png">
              <input type="number" class="count" name="quantity" value="0">
              <img class="plus" src="assets/img/com/plus_25.png">
          </div>
				</div>
			</div>
		</div>
		
		<div class="card mb-4 box-shadow">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">{{ 'FOOD.DRUMSTICK.NAME' | translate }}</h4>
			</div>
			<div class="card-body">
				<h1 class="card-title pricing-card-title">
					{{ 'SYSTEM.CURRENCY' | translate }}{{ 'FOOD.DRUMSTICK.PRICE' | translate }} 
					<small class="text-muted">/ {{ 'FOOD.DRUMSTICK.UNIT' | translate }}</small>
				</h1>
				<div class="product-img mb-4">
					<img src="assets/img/food/drumstick_100.png">
				</div>
				<!-- <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button> -->
				<div class="calc">
					<div class="quantity mt-5">
              <!-- <span class="minus bg-dark">-</span> -->
              <img class="minus" src="assets/img/com/minus_25.png">
              <input type="number" class="count" name="quantity" value="0">
              <img class="plus" src="assets/img/com/plus_25.png">
          </div>
				</div>
			</div>
		</div>
		
		<div class="card mb-4 box-shadow">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">{{ 'FOOD.CHICKEN_BUTT.NAME' | translate }}</h4>
			</div>
			<div class="card-body">
				<h1 class="card-title pricing-card-title">
					{{ 'SYSTEM.CURRENCY' | translate }}{{ 'FOOD.CHICKEN_BUTT.PRICE' | translate }} 
					<small class="text-muted">/ {{ 'FOOD.CHICKEN_BUTT.UNIT' | translate }}</small>
				</h1>
				<div class="product-img mb-4">
					<img src="assets/img/food/chicken_butt_100.png">
				</div>
				<!-- <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button> -->
				<div class="calc">
					<div class="quantity mt-5">
              <!-- <span class="minus bg-dark">-</span> -->
              <img class="minus" src="assets/img/com/minus_25.png">
              <input type="number" class="count" name="quantity" value="0">
              <img class="plus" src="assets/img/com/plus_25.png">
          </div>
				</div>
			</div>
		</div>	

	</div>

</div>
