.container {
	&.contact {
		margin-top: 200px;
	}
}

.star-divider {
	background-color: white;
	border: none;
	height: 14px;
	background-repeat: no-repeat;
	background-position: center;
}
